.header {
    background-image: url(../img/bgc.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 19px;
}

.header_nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 515px;
}

.header_menu ul{
    display: flex;
    gap: 40px;
}

.header_menu ul li a{
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #FFFFFF;
    transition: all .3s linear;
}

.header_menu ul li a:hover,.header_btn ul li a:hover {
    color: rgb(214, 154, 0);
}

.header_btn ul{
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
}

.header_btn ul li a{
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #FFFFFF;
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    transition: all .3s ease;
}

.header_search::after{
    background-image: url(../img/gridicons_search.svg);
    background-repeat: no-repeat;
    background-size: cover;
    content: "";
    z-index: 2;
    position: absolute;
    left: -33px;
    top: 0px;
    width: 24px;
    height: 24px;
    transition: all .3s linear;
}

.header_search:hover::after {
    left: -25px;
    top: -10px;
}